<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../style.css" />
    <link rel="stylesheet" type="text/css" href="../../subsite.css" />
  </head>

  <body>
     <header>
      <nav class="navbar">
        <div>
          <a href="./index.html" class="navbar-brand navbar-brand-logo">
            <img src="./images/logos/logo_small.png" alt="" class="icon" />
          </a>
        </div>
        <button
          class="menu-toggle"
          id="menuToggle"
          aria-label="Toggle Navigation"
        >
          ☰
        </button>
        <ul class="nav-links" id="navLinks">
          <li>
            <a href="./index.html#about">
              <span class="menu-text">About</span>
            </a>
          </li>

          <li>
            <a href="./index.html#research">
              <span class="menu-text">Research</span>
              </a>
          </li>

          <li>
            <a href="./index.html#projects">
              <span class="menu-text">Projects</span>
              </a>
          </li>

          <li>
            <a href="./index.html#people">
              <span class="menu-text">People</span>
              </a>
          </li>

          <li class="dropdown">
            <a href="#" class="drop-btn dropdown-toggle">Publications 
                <span class="arrow">▾</span>
                </a>
            <ul class="dropdown-menu">
              <li><a href="./publications/index.html">Papers</a></li>
              <li><a href="./publications/software/index.html">Software</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="drop-btn dropdown-toggle">
                Contact Us<span class="arrow">▾</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="./index.html#contact">Contact</a></li>
              <li><a href="./tenders/index.html">Open Positions</a></li>
            </ul>
          </li>
          <li>
            <a href="https://github.com/LIM-Climate-Causality/lim-climate-causality.github.io">
              <i class="fa fa-github fa-2xl">
              </i> 
              <span class="menu-text">
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- main -->
    <main class="content">
    <div class="title">
            <h1>
                Teleconnections and Regional Climate Change
            </h1>
            <div class="description">Investigating how large-scale teleconnections and anthropogenic forcing shape regional climate change, and how to reduce uncertainty in regional projections.
            </div>
        </div>
      <div class="quarto-figure quarto-figure-center">
        <figure class="figure">
          <p>
            <img
              src="../../images/research/teleconnections.jpg"
              class="img-fluid figure-img"
            />
          </p>
          <figcaption>
            This figure illustrates, from left to right, the chain of processes
            that shape regional climate change. Anthropogenic forcing (such as
            greenhouse gas increase or ozone depleting substances -which control
            ozone depletion and recovery-) drives large-scale changes in the
            climate system. Examples of such changes are the so-called “tropical
            warming”, which refers to the increased latent heat release in the
            tropics do to the warming-induced evaporation, asymmetric warming
            patterns (such as the warming of the central or eastern tropical
            Pacific) or the strengthening of polar winds in the stratosphere
            (Earth’s second layer). These changes in turn control tropospheric
            phenomena such as the expansion of the Hadley cell or the shift and
            strengthening of the midlatitude westerly winds and many others
            which shape regional climates. Our group focuses on (1)
            investigating how large-scale responses to anthropogenic forcing
            shape regional climate change and (2) developing methods, such as
            storylines or constrain approaches, to reduce the uncertainty in
            regional climate change based on large-scale dynamics and process
            understanding.
          </figcaption>
        </figure>
      </div>
      <p>
        Adaptation to climate change requires understanding persistent changes
        in regional climate characteristics -such as mean conditions, extremes,
        or variability- within specific geographic areas over periods of decades
        or more. The wide range of regional climates, time scales, and
        adaptation needs makes this a problem of high complexity.
      </p>
      <p>
        <strong
          >Variability and change in regional climate is in great part
          determined by geographical location and local processes, however, it
          also represents the local expression of variability and change in
          large-scale remote drivers (also known as teleconnections), the
          feedback between them and their interaction with local
          processes.</strong
        >
        These remote drivers are influenced by internal processes like oceanic
        and atmospheric variability or from external forcings, including solar
        variations, volcanic activity, land-use change, and anthropogenic
        greenhouse gas emissions. Moreover, these anthropogenic forcings also
        drive processes at local scales. The interaction of large-scale and
        local processes shape regional climate patterns.
      </p>
      <p>
        <strong
          >Due to the many possible drivers of variability and change,
          quantifying the interplay between internal modes of decadal
          variability and any externally forced component is crucial in attempts
          to attribute causes of regional climate changes. A regional climate
          signal could arise purely due to some anthropogenic influence or
          conversely, entirely due to internal variability, but it is most
          likely the result of a combination of both. Decomposing these signals
          and their associated uncertainty is key to producing useful
          information at the regional scale.</strong
        >
      </p>
      <p>
        In our research group, we focus on how variability and change in
        large-scale climate dynamics affect regional climates. We employ
        <strong
          >storyline approaches, weather regimes, causal inference methods and
          rare event algorithms</strong
        >
        to investigate multiple regions, which include
        <strong
          >Europe, southern South America, the Sahel, the Somali Peninsula, and
          Cape Town</strong
        >. Through this, we aim to better understand regional impacts of climate
        change and improve actionable climate information. This information is
        often distilled using a co-production process that integrates scientific
        knowledge with user context, values, and decision-making needs.
      </p>
      <p><strong>Publications:</strong></p>
      <p>
        F. R. Spuler, M. Kretschmer, Y. Kovalchuk, Yevgeniya, M. Balmaseda,
        Magdalena Alonso T. G. Shepherd, Identifying probabilistic weather
        regimes targeted to a local-scale impact variable, 2024, Environmental
        Data Science, 3, 2634-4602,
        <a href="http://dx.doi.org/10.1017/eds.2024.29"
          >http://dx.doi.org/10.1017/eds.2024.29</a
        >.
      </p>
      <p>
        Kretschmer, M., S. V. Adams, A. Arribas, R. Prudden, N. Robinson, E.
        Saggioro, and T. G. Shepherd, 2021: Quantifying Causal Pathways of
        Teleconnections. Bull. Amer. Meteor. Soc., 102, E2247–E2263,
        <a href="https://doi.org/10.1175/BAMS-D-20-0117.1"
          >https://doi.org/10.1175/BAMS-D-20-0117.1</a
        >.
      </p>
      <p>
        Mindlin, J., C. S. Vera, T. G. Shepherd, and M. Osman, 2023: Plausible
        Drying and Wetting Scenarios for Summer in Southeastern South America.
        J. Climate, 36, 7973–7991,
        <a href="https://doi.org/10.1175/JCLI-D-23-0134.1"
          >https://doi.org/10.1175/JCLI-D-23-0134.1</a
        >.
      </p>
    </main>
    <!-- /main -->

    <footer>
      <div>
        <p><a href="../../impressum.html">IMPRESSUM</a></p>
      </div>
      <div>
        <a
          href="https://github.com/LIM-Climate-Causality/lim-climate-causality.github.io"
        >
          <i class="fa fa-github"></i>
        </a>

        <a href="mailto:marlene.kretschmer@uni-leipzig.de">
          <i class="fa fa-envelope" role="img"> </i>
        </a>
      </div>
      <div>Copyright © ClimCA 2025</div>
    </footer>

  </body>
</html>
