<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../style.css" />
    <link rel="stylesheet" type="text/css" href="../../subsite.css" />
  </head>

  <body>
     <header>
      <nav class="navbar">
        <div>
          <a href="./index.html" class="navbar-brand navbar-brand-logo">
            <img src="./images/logos/logo_small.png" alt="" class="icon" />
          </a>
        </div>
        <button
          class="menu-toggle"
          id="menuToggle"
          aria-label="Toggle Navigation"
        >
          ☰
        </button>
        <ul class="nav-links" id="navLinks">
          <li>
            <a href="./index.html#about">
              <span class="menu-text">About</span>
            </a>
          </li>

          <li>
            <a href="./index.html#research">
              <span class="menu-text">Research</span>
              </a>
          </li>

          <li>
            <a href="./index.html#projects">
              <span class="menu-text">Projects</span>
              </a>
          </li>

          <li>
            <a href="./index.html#people">
              <span class="menu-text">People</span>
              </a>
          </li>

          <li class="dropdown">
            <a href="#" class="drop-btn dropdown-toggle">Publications 
                <span class="arrow">▾</span>
                </a>
            <ul class="dropdown-menu">
              <li><a href="./publications/index.html">Papers</a></li>
              <li><a href="./publications/software/index.html">Software</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="drop-btn dropdown-toggle">
                Contact Us<span class="arrow">▾</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="./index.html#contact">Contact</a></li>
              <li><a href="./tenders/index.html">Open Positions</a></li>
            </ul>
          </li>
          <li>
            <a href="https://github.com/LIM-Climate-Causality/lim-climate-causality.github.io">
              <i class="fa fa-github fa-2xl">
              </i> 
              <span class="menu-text">
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main
      class="content quarto-banner-title-block"
      id="quarto-document-content"
    >
    <div class="title">
        <h1>Machine Learning and Artificial Intelligence for Climate Science</h1>
      </div>
      <div class="description">
        Applying machine learning and AI methods, including deep generative models, to climate science and extreme event research.
      </div>
      <div class="quarto-figure quarto-figure-center">
        <figure class="figure">
          <p>
            <img
              src="../../images/research/cmmvae_architecture.png"
              class="img-fluid figure-img"
            />
          </p>
          <figcaption>
            The figure shows a Variational Autoencoder, the machine learning
            model used in
            <a href="https://doi.org/10.1017/eds.2024.29"
              >Spuler FR et al.&nbsp;2024</a
            >.
          </figcaption>
        </figure>
      </div>
      <p>
        Machine learning is the science enabling computational systems to learn
        how to perform tasks optimally through exposure to data, without being
        explicitly programmed. It can describe a broad spectrum of techniques,
        ranging from simple models like linear regression to complex
        architectures such as deep neural networks. One of the main advantages
        of machine learning is its ability to identify hidden patterns and
        relationships in large, high-dimensional datasets—patterns that may not
        be easily detected through traditional analysis.
      </p>
      <p>
        In the Earth system, many physical processes interact across a wide
        range of spatial and temporal scales—often in nonlinear and unknown ways
        that are difficult to model explicitly. In causality and attribution
        research, scientists employ machine learning tools to help uncover,
        interpret, and quantify these interactions. Climate science often relies
        on large, multivariate space-time datasets, making them a natural fit
        for data-driven methods. With the fast-growing potential of deep
        learning at the upper end of the machine learning spectrum, such
        techniques are being applied to identify patterns and generalizations in
        the climate system.
      </p>
      <p>
        In our Climate-Causality and -Attribution research groups, we explore
        the use of machine learning methods across the full spectrum—from
        classical linear regression to state-of-the-art deep learning methods.
        In climate causality research, we investigate how machine learning can
        help to uncover and quantify causal relationships in the atmosphere, for
        example to improve weather predictions on subseasonal to seasonal
        timescales (e.g., Bommer P. L., Kretschmer M. et al.&nbsp;2024; Spuler
        F. R., Kretschmer M. et al.&nbsp;2024). In climate attribution, machine
        learning can identify signals and patterns of forced climate change to
        uncover these in the observational record and separate them from
        internal climate variability (e.g., Sippel S. et al.&nbsp;2020;
        Heinze-Deml C., Sippel S. et al.&nbsp;2021).
      </p>
      <p><strong>Publications:</strong></p>
      <p>
        Bommer, P. L., M. Kretschmer, A. Hedström, D. Bareeva, and M. M. Höhne,
        2024: Finding the Right XAI Method—A Guide for the Evaluation and
        Ranking of Explainable AI Methods in Climate Science.&nbsp;<em
          >Artif. Intell. Earth Syst.</em
        >,&nbsp;&nbsp;<strong>3</strong>, e230074,&nbsp;<a
          href="https://doi.org/10.1175/AIES-D-23-0074.1"
          >https://doi.org/10.1175/AIES-D-23-0074.1</a
        >.
      </p>
      <p>
        Spuler FR, Kretschmer M, Kovalchuk Y, Balmaseda MA, Shepherd TG.
        Identifying probabilistic weather regimes targeted to a local-scale
        impact variable.&nbsp;<em>Environmental Data Science</em>. 2024;3:e25.
        <a href="https://doi.org/10.1017/eds.2024.2"
          >https://doi.org/10.1017/eds.2024.2</a
        >
      </p>
      <p>
        Sippel, S., Meinshausen, N., Fischer, E.M.&nbsp;<em>et al.</em
        >&nbsp;Climate change now detectable from any single day of weather at
        global scale.&nbsp;<em>Nat. Clim. Chang.</em>&nbsp;<strong>10</strong>,
        35–41 (2020).
        <a href="https://doi.org/10.1038/s41558-019-0666-7"
          >https://doi.org/10.1038/s41558-019-0666-7</a
        >
      </p>
      <p>
        Heinze-Deml, C., Sippel, S., Pendergrass, A. G., Lehner, F., and
        Meinshausen, N.: Latent Linear Adjustment Autoencoder v1.0: a novel
        method for estimating and emulating dynamic precipitation at high
        resolution, Geosci. Model Dev., 14, 4977–4999 (2021),
        <a href="https://doi.org/10.5194/gmd-14-4977-2021"
          >https://doi.org/10.5194/gmd-14-4977-2021</a
        >.
      </p>
    </main>
    <!-- /main -->

    <footer>
      <div>
        <p><a href="../../impressum.html">IMPRESSUM</a></p>
      </div>
      <div>
        <a
          href="https://github.com/LIM-Climate-Causality/lim-climate-causality.github.io"
        >
          <i class="fa fa-github"></i>
        </a>

        <a href="mailto:marlene.kretschmer@uni-leipzig.de">
          <i class="fa fa-envelope" role="img"> </i>
        </a>
      </div>
      <div>Copyright © ClimCA 2025</div>
    </footer>

    <script src="app.js" type="text/javascript"></script>
  </body>
</html>
