<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../style.css" />
    <link rel="stylesheet" type="text/css" href="../../subsite.css" />
  </head>

  <body>
     <header>
      <nav class="navbar">
        <div>
          <a href="./index.html" class="navbar-brand navbar-brand-logo">
            <img src="./images/logos/logo_small.png" alt="" class="icon" />
          </a>
        </div>
        <button
          class="menu-toggle"
          id="menuToggle"
          aria-label="Toggle Navigation"
        >
          ☰
        </button>
        <ul class="nav-links" id="navLinks">
          <li>
            <a href="./index.html#about">
              <span class="menu-text">About</span>
            </a>
          </li>

          <li>
            <a href="./index.html#research">
              <span class="menu-text">Research</span>
              </a>
          </li>

          <li>
            <a href="./index.html#projects">
              <span class="menu-text">Projects</span>
              </a>
          </li>

          <li>
            <a href="./index.html#people">
              <span class="menu-text">People</span>
              </a>
          </li>

          <li class="dropdown">
            <a href="#" class="drop-btn dropdown-toggle">Publications 
                <span class="arrow">▾</span>
                </a>
            <ul class="dropdown-menu">
              <li><a href="./publications/index.html">Papers</a></li>
              <li><a href="./publications/software/index.html">Software</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="drop-btn dropdown-toggle">
                Contact Us<span class="arrow">▾</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="./index.html#contact">Contact</a></li>
              <li><a href="./tenders/index.html">Open Positions</a></li>
            </ul>
          </li>
          <li>
            <a href="https://github.com/LIM-Climate-Causality/lim-climate-causality.github.io">
              <i class="fa fa-github fa-2xl">
              </i> 
              <span class="menu-text">
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main
      class="content quarto-banner-title-block"
      id="quarto-document-content"
    >
      <div class="title">
        <h1>Extreme weather and climate events</h1>
      </div>
      <div class="description">
        Studying how heatwaves, droughts, heavy precipitation, and storms are
        changing as the climate warms, and what this means for future risk.
      </div>

      <div class="quarto-figure quarto-figure-center">
        <figure class="figure">
          <p>
            <img
              src="../../images/research/extremes.jpg"
              class="img-fluid figure-img"
            />
          </p>
          <figcaption>
            France: The water level of the Loire is at its lowest due to the
            drought of 2022, as seen here in the Varades branch, in
            Loire-Atlantique. Photo: Franck Dubray/Ouest-France
          </figcaption>
        </figure>
      </div>
      <p>
        Each year, extreme weather events -from heatwaves, droughts, to heavy
        precipitation and storms- impact people and ecosystems around the world.
        At a local level, these events represent rare and unusual climatic
        conditions to which communities are not well adapted. As the climate
        warms, the frequency and intensity of of such events are changing,
        making it essential to understand how extremes are evolving and what we
        can expect in the future.
      </p>
      <p>
        The main challenge when studying weather extremes is that these events
        are <strong>rare per definition</strong> and only few of them are
        recorded in observations, making it hard to study processes,
        spatio-temporal changes and statistics related to those events. Climate
        models are a key tool to address this challenge. By simulating many
        possible versions of the climate, they generate large numbers of extreme
        events for analysis. However, models have limitations -especially at
        regional scales- which is why a combination of models, observations, and
        statistical methods remain essential.
      </p>
      <p>
        In our research group we study weather extremes and their changes using
        diverse methods and approaches. We use and develop
        <strong>statistical and machine learning methods</strong> to better
        deduce changes of weather extremes from the observational record. We
        also analyze and produce <strong>climate simulations</strong> including
        special simulation protocols to efficiently simulate many extreme events
        (<strong>importance sampling</strong>) and counterfactual simulations
        showing how the same weather events would have looked like without
        anthropogenic climate change (<strong
          >nudged storyline simulations</strong
        >). We are analyzing
        <strong
          >heat waves, droughts, wildfires, cold spells and dark
          doldrums</strong
        >.
      </p>
      <p><strong>Publications:</strong></p>
      <p>
        Sippel, S., Barnes, C., Cadiou, C., Fischer, E., Kew, S., Kretschmer,
        M., Philip, S., Shepherd, T. G., Singh, J., Vautard, R., &amp; Yiou, P.
        (2024). Could an extremely cold central European winter such as 1963
        happen again despite climate change? Weather and Climate Dynamics, 5(3),
        943–957.
        <a href="https://doi.org/10.5194/wcd-5-943-2024"
          >https://doi.org/10.5194/wcd-5-943-2024</a
        >
      </p>
      <p>
        Pfleiderer, P., Nath, S., &amp; Schleussner, C.-F. (2022). Extreme
        Atlantic hurricane seasons made twice as likely by ocean warming.
        Weather and Climate Dynamics, 3(2), 471–482.
        <a href="https://doi.org/10.5194/wcd-3-471-2022"
          >https://doi.org/10.5194/wcd-3-471-2022</a
        >
      </p>
    </main>
    <!-- /main -->

    <footer>
      <div>
        <p><a href="../../impressum.html">IMPRESSUM</a></p>
      </div>
      <div>
        <a
          href="https://github.com/LIM-Climate-Causality/lim-climate-causality.github.io"
        >
          <i class="fa fa-github"></i>
        </a>

        <a href="mailto:marlene.kretschmer@uni-leipzig.de">
          <i class="fa fa-envelope" role="img"> </i>
        </a>
      </div>
      <div>Copyright © ClimCA 2025</div>
    </footer>

    <script src="app.js" type="text/javascript"></script>
  </body>
</html>
