<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../style.css" />
    <link rel="stylesheet" type="text/css" href="../../subsite.css" />
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div>
          <a href="./index.html" class="navbar-brand navbar-brand-logo">
            <img src="./images/logos/logo_small.png" alt="" class="icon" />
          </a>
        </div>
        <button
          class="menu-toggle"
          id="menuToggle"
          aria-label="Toggle Navigation"
        >
          ☰
        </button>
        <ul class="nav-links" id="navLinks">
          <li>
            <a href="./index.html#about">
              <span class="menu-text">About</span>
            </a>
          </li>

          <li>
            <a href="./index.html#research">
              <span class="menu-text">Research</span>
              </a>
          </li>

          <li>
            <a href="./index.html#projects">
              <span class="menu-text">Projects</span>
              </a>
          </li>

          <li>
            <a href="./index.html#people">
              <span class="menu-text">People</span>
              </a>
          </li>

          <li class="dropdown">
            <a href="#" class="drop-btn dropdown-toggle">Publications 
                <span class="arrow">▾</span>
                </a>
            <ul class="dropdown-menu">
              <li><a href="./publications/index.html">Papers</a></li>
              <li><a href="./publications/software/index.html">Software</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="drop-btn dropdown-toggle">
                Contact Us<span class="arrow">▾</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="./index.html#contact">Contact</a></li>
              <li><a href="./tenders/index.html">Open Positions</a></li>
            </ul>
          </li>
          <li>
            <a href="https://github.com/LIM-Climate-Causality/lim-climate-causality.github.io">
              <i class="fa fa-github fa-2xl">
              </i> 
              <span class="menu-text">
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- main -->
    <main class="content">
      <div class="title">
        <h1>
          Detection and Attribution of Climate Change Signals
        </h1>
      </div>
        <div>
          <div class="description">
            Research on detecting and attributing the fingerprint of external
            climate forcing in observed and simulated temperature and climate
            signals.
          </div>
          <div class="quarto-figure quarto-figure-center">
            <figure class="figure">
              <p>
                <img
                  src="../../research/detection_and_attribution/DA.png"
                  class="img-fluid figure-img"
                />
              </p>
              <figcaption>
                The annual average fingerprint of external forcing extracted
                from daily temperatures with the global mean signal removed from
                CMIP5 models (from Sippel et al., 2020).
              </figcaption>
            </figure>
          </div>
          <p>
            <strong>The challenge</strong>: Detection and attribution (D&amp;A)
            of global climate change and its drivers is well established: human
            influence — especially through greenhouse gas emissions — has been
            clearly linked to observed global warming. At large scales, we can
            distinguish between forced responses and internal variability, and
            identify the roles of different natural and anthropogenic drivers.
            However, major challenges remain at r&gt;egional scales and for
            specific aspects of the climate system, such as the hydrological
            cycle or changes in atmospheric circulation. In these aspects,
            uncertainties persist — particularly when disentangling internal and
            forced variability or the effect of individual forcings. For
            example, recent trends in atmospheric circulation have led to
            intensified summer temperatures and heat extremes in Europe,
            exceeding many climate model projections. Yet it remains unclear
            whether these trends result from forced climate change or unforced
            internal variability.
          </p>
          <p>
            <strong>What we do</strong>: Our group develops and applies a range
            of methods — including statistical, machine learning, and causal
            inference techniques — to advance detection and attribution on both
            regional and global scales. We use models and observations to: -
            Improve understanding of changes in the hydrological cycle and
            large-scale circulation, - Separate thermodynamic changes from
            circulation-driven (dynamical) variability, - Refine attribution by
            focusing on distinct physical mechanisms, - Identify processes that
            contribute to uncertainty in future climate projections.
          </p>
          <p>
            This integrated approach helps us to better detect the fingerprints
            of climate change, understand its driving mechanisms, and improve
            the robustness of climate projections.
          </p>
          <p><strong>Publications:</strong></p>
          <p>
            Kretschmer, M., Zappa, G. and Shepherd, T.G., 2020. The role of
            Barents–Kara sea ice loss in projected polar vortex changes. Weather
            and Climate Dynamics, 1(2), pp.715-730.
            <a href="https://doi.org/10.5194/wcd-1-715-2020"
              >https://doi.org/10.5194/wcd-1-715-2020</a
            >
          </p>
          <p>
            Mindlin, J., Shepherd, T.G., Vera, C.S., Osman, M., Zappa, G., Lee,
            R.W. and Hodges, K.I., 2020. Storyline description of Southern
            Hemisphere midlatitude circulation and precipitation response to
            greenhouse gas forcing. Climate Dynamics, 54, pp.4399-4421.
            <a href="https://doi.org/10.1007/s00382-020-05234-1"
              >https://doi.org/10.1007/s00382-020-05234-1</a
            >
          </p>
          <p>
            Pfleiderer, P., Merrifield, A., Dunkl, I., Durand, H., Cariou, E.,
            Cattiaux, J. and Sippel, S., 2025. The contribution of circulation
            changes to summer temperature trends in the northern hemisphere
            mid-latitudes: A multi-method quantification. EGUsphere, 2025,
            pp.1-28.
            <a href="https://doi.org/10.5194/egusphere-2025-2397"
              >https://doi.org/10.5194/egusphere-2025-2397</a
            >
          </p>
          <p>
            Sippel, S., Meinshausen, N., Fischer, E.M., Székely, E. and Knutti,
            R., 2020. Climate change now detectable from any single day of
            weather at global scale. Nature climate change, 10(1), pp.35-41.
            <a href="https://doi.org/10.1038/s41558-019-0666-7"
              >https://doi.org/10.1038/s41558-019-0666-7</a
            >
          </p>
        </div>
      </div>
    </main>
    <!-- /main -->

    <footer>
      <div>
        <p><a href="../../impressum.html">IMPRESSUM</a></p>
      </div>
      <div>
        <a
          href="https://github.com/LIM-Climate-Causality/lim-climate-causality.github.io"
        >
          <i class="fa fa-github"></i>
        </a>

        <a href="mailto:marlene.kretschmer@uni-leipzig.de">
          <i class="fa fa-envelope" role="img"> </i>
        </a>
      </div>
      <div>Copyright © ClimCA 2025</div>
    </footer>

    <script src="app.js" type="text/javascript"></script>
  </body>
</html>
